/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@theme {
    --color-slate-900: #1f314f;
    --color-slate-500: #68778d;
    --color-slate-300: #d5e1ef;
    --color-white: #ffffff;
    --font-sans: "Outfit", sans-serif;
}

@layer components {
    .text-preset-1 {
        font-size: 1.375rem;
        line-height: 1.2;
        font-weight: 700;
    }

    .text-preset-2 {
        font-size: .9375rem;
        line-height: 1.4;
        letter-spacing: 0.2px;
        font-weight: 400;
    }

    .card-shadow {
        box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
    }
}